{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main">

<div class="container-fluid">
    <div class="row ">
        <div id="part-1" class=" part-1 snap-st " style="padding: 0;">
            <div class="slogan-big ">
                <h1> <strong>취향</strong>을 채워줄</h1>
                <h1> <strong>게임</strong>이 온다</h1>
                <h4>늦기전에 지금바로 등록 </h4>
                <h4>너만 5면 5인팟 </h4>
            </div>

    </div>
    </div>
</div>

    <div class="container marketing">
        <div id="part-2" class="part-2 snap-st">
            <form id="part-2_form" name="create_form" class="p-4 p-md-4 border rounded-3 bg-light shadow" onSubmit="return CheckForm(this)" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                    <input type="text" class="form-control" name="email" id="email"value="{{ form.email.value|default_if_none:'' }}" placeholder="이메일 주소">
                    <input type="text" class="form-control" name="title" id="title"value="{{ form.title.value|default_if_none:'' }}" placeholder="게임 타이틀">
                    <input type="file" name="file" required="" id="id_file">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% for field in form %}
                            <div class="error-meg">
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>은 {{ field.errors }}
                        {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="check1" id="id_check1">
                        <small>개인정보 수집 및 이용 동의
                            <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill smbtn" data-bs-toggle="modal" data-bs-target="#privacy">자세히보기</button></small>
                        <br>
                        <input type="checkbox" name="check2" id="id_check2">
                        <small>이벤트 등 프로모션 알림 수신 동의
                            <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill smbtn" data-bs-toggle="modal" data-bs-target="#privacy">자세히보기</button></small>
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit"  onclick="location.href='#part-2_form'" >투고하기</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>

        <hr class="divider">

        <div class="part-3 snap-st">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators add-carousel-indicators" >
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 170x170" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">170x170</text></svg>
                                    <h2>Heading</h2>
                                    <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-6">
                                    <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 170x170" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">170x170</text></svg>
                                    <h2>Heading</h2>
                                    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <svg class="bd-placeholder-img rounded-circle"   xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 170x170" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">170x170</text></svg>
                                    <h2>Heading</h2>
                                    <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-6">
                                    <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 170x170" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">170x170</text></svg>
                                    <h2>Heading</h2>
                                    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="container">

                                <div class="row">
                                <div class="col-lg-6">
                                    <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 170x170" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">170x170</text></svg>
                                    <h2>Heading</h2>
                                    <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-6">
                                    <svg class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 170x170" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">170x170</text></svg>
                                    <h2>Heading</h2>
                                    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->

                        </div>
                    </div>
<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>


            </div>

        </div>


        <div class="part-4 snap-st">
            <hr class="divider" style="margin: 5rem 0;">
        <div class="row featurette  ">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider snap-st">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

          </div>
        </div>

        <hr class="featurette-divider  snap-st">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

          </div>
        </div>

        <hr class="featurette-divider">
        </div>
        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->



  <!-- FOOTER -->
  <footer class="container snap-end">
    <p class="float-end"><a href="#part-1">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>
{% endblock %}