
{% load static %}
<div class="modal fade" id="privacy" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content back-clean no-bor">
            <div class="modal-header no-bor">
                <h5 class="modal-title " id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body back-white top-border-round">
                <div class="col-md-12">
                    <h5><strong>개인정보 수집 및 이용 동의</strong></h5>
                    <table class="table table-bordered ">
                        <thead>
                            <tr class="table-light">
                                <td scope="col">수집 및 이용 목적</td>
                                <td scope="col">항목</td>
                                <td scope="col">보유 및 이용기간</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><small>이벤트 등 프로모션 알림 전송</small></td>
                                <td><small>이메일 주소</small></td>
                                <td><small>수집일로부터 1년</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <h5><strong>개인정보 처리 위탁 안내</strong></h5>
                    <table class="table table-bordered ">
                        <thead>
                            <tr class="table-light">
                                <td scope="col">위탁 업체</td>
                                <td scope="col">위탁 목적</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><small>㈜씨에스에스 홀딩스</small></td>
                                <td><small>문의 대응 및 이벤트 등 프로모션 알림 전송</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <h5><strong>이벤트 등 프로모션 알림 수신 동의</strong></h5>
                    <small>㈜씨에스에스홀딩스가 제공하는 모든 게임 서비스(PC게임 및 모바일게임) 및 이벤트와 관련된 프로모션 알림 수신에 동의합니다.</small>
                </div>

            </div>
            <div class="modal-footer back-white mid no-bor">
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

